# Node.js dependencies
node_modules/

# Environment variables
.env

# Local storage (e.g., for node-persist)
.node-persist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
out/